/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

.angular-leaflet-map{
	height:100%;
}

.journey-wrapper {
	margin-left: 5px;
	margin-right: 5px;
}

.bar.bar-subheader > .card.navigation-card {
	margin: 0;
	font-size: 12px;
	padding:0;
}

.bar.bar-subheader > .card.navigation-card .item.item-text-wrap {
	font-size:13px;
	text-align:center;
	color:#1abc9c;
}

.bar.bar-subheader.challenge-navigation {
	padding:0;
}
