/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

.angular-leaflet-map{
	height:100%;
}

.journey-wrapper {
	margin-left: 5px;
	margin-right: 5px;
}
