/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

.angular-leaflet-map{
	height:100%;
}

.home-image {
	margin-bottom: -5px;
}

.home-image:last-child {
	margin-bottom:0px;
}

.home-scroll {
	height:100%;
}

.scroll{
	height:100%;
	min-height:100%;
}
