<div class="modal">
	<ion-header-bar>
	<h1 class="title">Add Event</h1>
	<div class="buttons">
		<button class="button button-clear" ng-click="closeAddEvent()">Close</button>
	</div>
	</ion-header-bar>

	<ion-content>
		<ion-list>
		<ion-item class="item-icon-right"  href="#/app/playlists/{{playlist.id}}">
		Fish
		<i class="icon ion-chevron-right icon-accessory"></i>
		</ion-item>
		<ion-item class="item-icon-right"  href="#/app/playlists/{{playlist.id}}">
		Image
		<i class="icon ion-chevron-right icon-accessory"></i>
		</ion-item>
		<ion-item class="item-icon-right"  href="#/app/playlists/{{playlist.id}}">
		Event
		<i class="icon ion-chevron-right icon-accessory"></i>
		</ion-item>
		</ion-list>
	</ion-content>

</div>

