<div class="modal">

  <ion-header-bar class="bar bar-balanced">
    <h1 class="title">Friends</h1>
  </ion-header-bar>

  <ion-content class="has-header has-footer" ng-controller="ChallengeFriendsCtrl" scroll="false">
    <ion-scroll>
    	<div>
  			<div class="list">
  			<a ng-repeat="item in friends" class="item item-avatar">
  				<img src="images/jonDart.jpg"></img>
  				 <h2>{{item.firstName}} {{item.lastName}}</h2>
  			</a>
  		</div>
  	</div>
  </ion-scroll>

  <div id="challenge-friends-footer">
    <div class="button button-full button-balanced" ng-Click="save()" id="challenge-friends-footer-button">Save</div>
  </div>

  </ion-content>
</div>