<ion-view hide-back-button='true' title="Completed Challenges">

<ion-content class='has-header has-subheader'>



	<div class="list">

		<div class="item item-divider">
    Location Challenges
	</div>

  <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon ion-ios7-people"></i>
    Lake Manitoba Fishing Derby
    <i class="icon ion-chevron-right icon-accessory"></i>
  </a>

		<a class="item item-icon-left item-icon-right" href="#">
    <i class="icon ion-ios7-people"></i>
     Weekend at Westhawk
		<i class="icon ion-chevron-right icon-accessory"></i>
  </a>


	<div class="item item-divider">
    Friend Challenges
  </div>

		<a class="item item-icon-left item-icon-right" href="#">
    <i class="icon ion-ios7-person"></i>
			It's On Buddy!    
		<i class="icon ion-chevron-right icon-accessory"></i>
  </a>

		<a class="item item-icon-left item-icon-right" ng-click="openChallengeFriends()">
    <i class="icon ion-ios7-person"></i>
    Me and Jimmy
    <i class="icon ion-chevron-right icon-accessory"></i>
  </a>



	</div>

</ion-content>

</ion-view>


