<ion-view title="Friends" controller="FriendsCtrl">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-ios7-personadd" ></button>
  </ion-nav-buttons>

  <ion-content class="has-header">
    	<div>
				<div class="list">
				<a ng-repeat="item in friends" class="item item-avatar" href='' ng-Click="">
					<img ng-src="{{item.image}}"></img>
					 <h2>{{item.firstName}} {{item.lastName}}</h2>
     			 <p>{{item.saying}}</p>
				</a>
			</div>
		</div>
    

  </ion-content>
</ion-view>
