
<ion-view title="Home" controller="HomeCtrl as home">
 <ion-nav-buttons side="left">
   <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <script src = "../scripts/Pan.js"></script>

  <ion-content class="has-header">
    	<div class="home-image-left photo angler1" ng-click = "goToMap()">
    			<div class="text-content">
    				<h2>Black Lake</h2>
    			</div>
        </div>
    	<div class="home-image-right photo angler2" ng-click = "goToMap()">
    			<div class="text-content">
    				<h2>Sturgeon Creek</h2> 
    			</div>
	    </div>
	    <div class="home-image-left photo angler3" ng-click = "goToMap()">
	    		<div class="text-content">
    				<h2>Lake Winnipegosis</h2> 
    			</div>
	    </div>
	    <div class="home-image-right photo angler4" ng-click = "goToMap()">
	    		<div class="text-content">
    				<h2>Lake Winnipeg</h2>
    			</div>
	    </div>
  </ion-content>
</ion-view>
