<ion-view title="Home">
 <ion-nav-buttons side="left">
   <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>


  <ion-content class="has-header">
    	<div class="home-image">
    		<img src="images/Angler1.jpg"></img>
    	</div>
    	<div class="home-image">
	    	<img src="images/Angler2.jpg"></img>
	    </div>
	    <div class="home-image">
	    	<img src="images/Angler3.jpg"></img>
	    </div>
	    <div class="home-image">
	    	<img src="images/Angler4.jpg"></img>
	    </div>
  </ion-content>
</ion-view>
