<ion-view title="My Journey Log">

	<ion-content>
		<ion-list>
		<ion-item class="item-icon-left item-icon-right" ui-sref="app.myFish">		
	 	<i class="icon ion-ios7-briefcase"></i>
		My Fish
		<i class="icon ion-chevron-right icon-accessory"></i>
		</ion-item>
		<ion-item class="item-icon-left item-icon-right"  href="#/app/playlists/{{playlist.id}}">		
		 <i class="icon ion-ios7-camera"></i>

		My Pictures
		<i class="icon ion-chevron-right icon-accessory"></i>
		</ion-item>
		<ion-item class="item-icon-left item-icon-right"  href="#/app/playlists/{{playlist.id}}">
		 <i class="icon ion-ios7-paper"></i>
		My Stories
		<i class="icon ion-chevron-right icon-accessory"></i>
		</ion-item>
		</ion-list>
		
		<div class="journey-wrapper">
		<button ng-show="startedJourney==false" ng-click="startedJourney = true" class="button button-block button-positive">
			Start My Journey
		</button>

			<button ng-show="startedJourney==true" ng-click="startedJourney = false" class="button button-block button-assertive">
			Complete My Journey
		</button>

	</div>
	</ion-content>

	</ion-view>
