<div class="modal">
	<ion-header-bar>
	<h1 class="title">My Journey Log</h1>
	<div class="buttons">
		<button class="button button-clear" ng-click="closeAddEvent()">Close</button>
	</div>
	</ion-header-bar>

	<ion-content>
		<ion-list>
		<ion-item class="item-icon-left item-icon-right"  href="#/app/playlists/{{playlist.id}}">		
	 	<i class="icon ion-ios7-briefcase"></i>
		My Fish
		<i class="icon ion-chevron-right icon-accessory"></i>
		</ion-item>
		<ion-item class="item-icon-left item-icon-right"  href="#/app/playlists/{{playlist.id}}">		
		 <i class="icon ion-ios7-camera"></i>

		My Pictures
		<i class="icon ion-chevron-right icon-accessory"></i>
		</ion-item>
		<ion-item class="item-icon-left item-icon-right"  href="#/app/playlists/{{playlist.id}}">
		 <i class="icon ion-ios7-paper"></i>
		My Stories
		<i class="icon ion-chevron-right icon-accessory"></i>
		</ion-item>
		</ion-list>
		
		<div class="journey-wrapper">
		<button ng-show="startedJourney==false" ng-click="startedJourney = true" class="button button-block button-positive">
			Start My Journey
		</button>

			<button ng-show="startedJourney==true" ng-click="startedJourney = false" class="button button-block button-assertive">
			Complete My Journey
		</button>

	</div>
	</ion-content>

</div>


