<ion-view hide-back-button='true' title="New Challenges">

<ion-content class='has-header has-subheader' ng-controller="NewChallengeCtrl">
	<div class="newChallenge-container column align-center">
		<div class="newChallenge-center">
			<img src="images/trophy-fish-big.jpg" class="newChallenge-img"></img>
		</div>
	</div>

	<div class="list">

  <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon ion-chatbubble-working"></i>
    Challenge Type
    <i class="icon ion-chevron-right icon-accessory"></i>
  </a>

	<a class="item item-icon-left item-icon-right" href="#">
    <i class="icon ion-map"></i>
			Location    
		<i class="icon ion-chevron-right icon-accessory"></i>
  </a>

	<a class="item item-icon-left item-icon-right" href="#">
    <i class="icon ion-calendar"></i>
    Time and Date
    <i class="icon ion-chevron-right icon-accessory"></i>
  </a>

	<a class="item item-icon-left item-icon-right" ng-click="openChallengeFriends()">
    <i class="icon ion-person-stalker"></i>
    Add Friends
    <i class="icon ion-chevron-right icon-accessory"></i>
  </a>

	<div class="journey-wrapper">

		<button class="button button-block button-positive ">
		 Issue Challenge
	</button>

</div>

	</div>


	<!--text box here! -->



</ion-content>

</ion-view>

